h2{
    color:blue
}
input{
    width: 50px;
}
#wynik{
    position: absolute;
    margin: auto;
    top:0;
    right: 0;
    left: 0;

    width: 250px;
    height: 180px;

    background-color: rgba(53, 53, 59, 0.42);
}
#_form{
    position: absolute;
    width: 250px;
    height: 180px;

    margin: auto;
    right: 0;
    left:0;
    bottom: 0;
    top: 0;
}
